flows/Demo_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Related_Products</name>
        <label>Get Related Products</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>GetRelatedProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_all_related_product</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>masterPI</name>
            <value>
                <elementReference>Get_Master_PI</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AllRelatedProductList</assignToReference>
            <name>relatedPName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Related_Products</name>
        <label>Assign Related Products</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllRelatedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllRelatedProductsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_related_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Master_PI_not_Null</name>
        <label>Master PI not Null</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NOScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Master_PI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_PI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Products</targetReference>
            </connector>
            <label>Has Master PI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Product_Selected</name>
        <label>Related Product Selected</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Related_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedProdSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Product</targetReference>
            </connector>
            <label>Selected Related Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>AllRelatedProductsFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_all_related_product}), &apos;&apos;, {!Loop_all_related_product} + &quot;;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RelatedProdSelect</name>
        <dataType>Boolean</dataType>
        <expression>IF( OR(ISBLANK({!RelatedProductPickList.valueChosen}), ISNULL({!RelatedProductPickList.valueChosen}) ) , false, true)</expression>
    </formulas>
    <interviewLabel>Demo Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Flow</label>
    <loops>
        <name>Loop_all_related_product</name>
        <label>Loop all related product</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>AllRelatedProductList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Related_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Related_PI</name>
        <label>Create Related PI</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Product_Line_Item__c</field>
            <value>
                <elementReference>Get_Master_PI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Related_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Master_PI</name>
        <label>Get Master PI</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Master_PI_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Product</name>
        <label>Get Related Product</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Related_PI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Related</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedProductPickList.valueChosen</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>&lt;p&gt;Exit the window&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NOScreen</name>
        <label>NOScreen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPLI</name>
            <fieldText>&lt;p&gt;No PLIs &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Products</name>
        <label>Related Products</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Related_Product_Selected</targetReference>
        </connector>
        <fields>
            <name>MasterPI</name>
            <fieldText>&lt;p&gt;Master Product: {!Get_Master_PI.Product_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedProduct</name>
            <fieldText>&lt;p&gt;Related Products:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedProductPickList</name>
            <extensionName>c:relatedProductPickList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueString</name>
                <value>
                    <elementReference>AllRelatedProducts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Master_PI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllRelatedProductList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllRelatedProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
